name: Test gspread utility

on:
  push:
    branches: [ "cicd" ]
  pull_request:
    branches: [ "cicd" ]

permissions:
  contents: read

env:
  BASH_SCRIPT_NAME: ${{ secrets.BASH_SCRIPT_NAME }}
  BASH_SCRIPT_PATH: ${{ secrets.BASH_SCRIPT_PATH }}
  CREDENTIALS_PATH: ${{ secrets.CREDENTIALS_PATH }}


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"
        
    - name: Install dependencies
      run: |
        make install
        
    - name: Format code with Black
      run: |
        make format
        
    - name: Lint code with pylint
      run: |
        make lint
  
    - name: Test with pytest
      run: |
        make test
        
    - name: Deploy to server
      run: |
        make deploy
